@section scripts {
            <script src="~/Client/angular.js" type='text/javascript'></script>
            <script src="~/Client/phone.controller.js" type='text/javascript'></script>
            <script src="~/Client/footer.controller.js" type='text/javascript'></script>
}

<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a>
            </p>
        </div>
    </div>
</header>

<nav>
    <div class="float-none">
        <a href="~/Home/Index">Home</a>
    </div>
</nav>

<section>
    <article ng-controller="PhoneListConroller">

        <div class="filter">
            Search for: <input ng-model="query" />
        </div>
        <div>
             Sort by:
              <select ng-model="orderProp">
                <option value="name">Name</option>
                <option value="id">Id</option>
              </select>
        </div>

        <div id="body">
            <ul>
                <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
                    {{phone.name}}
                    <p>{{phone.snippet}}</p>
                </li>
            </ul>

            <p>Total count of records: {{phones.length}}</p>

        </div>
    </article>
</section>

<footer ng-controller="FooterController">
    <p>Hello world, {{name}}</p>
</footer>
