@{
    Layout = "~/Views/Shared/_CustomMasterPage.cshtml";
}

@section header{
<h1>Header here </h1>
    <ul>
        <li>Header 1</li>
        <li>Header 2</li>
    </ul>

}

Hello world !!!

@section footer{
    <div>
        <p>Footer here.</p>
    </div>    
    }
