@model SD.Asp.Net.Samples.Models.FileContainer

@{
    ViewBag.Title = "ReadList";
    Layout = "~/Views/Shared/_CustomMasterPage.cshtml";
}

<h2>@Model.Path</h2>

@foreach (var item in Model.Lines) {
    <div>@item.Text;</div>
}

