<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConsumerKey" value="v2ACFAz7cFMPCac8lRQCogCoy"/>
    <add key="ConsumerSecret" value="0O6Xbw7u7LGvOU4xc5BwiW8fTbMdCmgu5FHTLANC8vyU4Mw6Sc"/>
    <add key="AccessToken" value="19260136-J7ZeeqaVPlxIMR0ekcexIvgH0kwINd03PJLZlfXD4"/>
    <add key="AccessTokenSecret" value="HNG9nfrCXJzmMwPuQ0QjBsfEMNj4KjT14ID7vTAVBEbB7" />
  </appSettings>
</configuration>